# -----------------------------------------------------------------------------
# Yocto Project Configuration
# -----------------------------------------------------------------------------

# Build directory (relative to the project root)
YOCTO_BUILD_DIR="build"

# Image recipe name
YOCTO_IMAGE="rpi-demo-base-image"

# Machine
YOCTO_MACHINE="raspberrypi3-64"

# Deploy directory (relative to the project root)
YOCTO_DEPLOY_DIR="$YOCTO_BUILD_DIR/tmp/deploy/images/$YOCTO_MACHINE"
